{% extends "main.twig" %}
  
{% block content %}
    <div id="frame">
<div class="page-header">
    <h2>Currencies</h2>
</div>
<form id ="form">
    <div class="form-group">
    <button class="btn btn-primary" id="btn_curr_update" onclick="getData(); return false;">Update</button>
    <button class="btn btn-primary" id="btn_curr_new" data-whatever="@mdo" onclick="AddNew(); return false;">Add</button>
    </div>
    <div class="table-responsive">
    <div class="row"></div>
    <table class="table table-bordered table-hover">
      <tr class="spr_list_head">
          <th class="hidden">id</th>
          <th>Code</th>
          <th>Name</th>
          <th>Short name</th>
      </tr>
      <tbody id="tbody">
          
      </tbody>  
  </table>
</div>
</form> 
</div>

{% endblock %}
