<div class="page-header">
    <h2>New currency</h2>
</div>
<form id="form_element" type="submit" submit="event.preventDefault(); saveElement();">
    <input type="text" class="form-control" name="id" id="id" style="display: none;" value={{ id }}>
    <div class="form-group code">
        <label for="recipient-name" class="control-label">Code</label>
        <input type="text" class="form-control" name="code" id="code" value={{ code }}>
    </div>
    <div class="form-group">
        <label for="text" class="control-label">Name:</label>
        <input class="form-control" name = "name" id="name" value={{ name }}>
    </div>
    <div class="form-group">
        <label for="text" class="control-label">Short name:</label>
        <input class="form-control" name="short_name" id="short_name" value={{ short_name }}>
    </div>
    
    <div class="form-group">
        <button type ="submit" class ="btn btn-primary" >Save</button>
        <button type ="reset" class ="btn btn-warning">Cancel</button>
    </div>
</form>
    
