    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button type ="submit" class ="btn btn-primary" id ="btn_save" name="btn_save" >Save</button>
            <button id = "btn_reset" type ="reset" class ="btn btn-warning" name="btn_reset">Cancel</button>
        </div>
    </div>
