Views/compilation_cache/*
.vscode/*
.idea/*
vendor/composer/*
vendor/container-interop/*
vendor/firebase/*
vendor/nikic/*
vendor/pimple/*
vendor/psr/*
vendor/respect/*
vendor/slim/*
vendor/symphony/*
vendor/twig/*
bash.exe.stackdump
