<!DOCTYPE html>
<html lang="cs style="height: 100%">
  <head>
    <!-- Required meta tags -->
    {% autoescape false %}
    {% for meta in metatags%}
    {{ meta }}
    {% endfor %}
    {% endautoescape %}
    <!--<meta http-equiv="Cache-Control" content="no-cache"><meta http-equiv="Cache-Control" content="no-cache">-->
    <!-- Bootstrap CSS -->
    <style>
    /*описание стилей*/
    #loadImg{position:absolute; z-index:1000; display:none}
    </style>
    <link rel="stylesheet" href="/public/bootstrap/css/jasny-bootstrap.min.css">
   <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/public/css/pf.css">
   <link href="/public/bootstrap/navmenu.css" rel="stylesheet">
   <link href="/public/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    
    {% block script_head %}
        {% for link in head_js %}
            <script src="{{ link }}"></script>
        {% endfor %}
    {% endblock %}  

  </head>
  <body style="height: 100%; background: #F5F3E5;">
    {% block script_body_begin %}
    {% for link in body_begin_js %}
      <script src="{{ link }}"></script>
    {% endfor %}
    {% endblock %}
      <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
      <a class="navmenu-brand visible-md visible-lg" style="font-style:oblique; color: #f7f7f7;" href="/site/index">Project name</a>

      <ul class="nav navmenu-nav">
        <li><a href="/site/index" class="navtext" style= "color: #f7f7f7;"> <img class="photo" src="/public/src/home.png"/> Home</a></li>
        <li><a href="#" class="navtext" style= "color: #f7f7f7;"><img class="photo" src="/public/src/transactions.png"/> Transactions</a></li>
        <li><a href="/site/settings" class="navtext" style= "color: #f7f7f7;"><img class="photo" src="/public/src/settings.png"/> Settings</a></li>
        <li><a href="/user/logout" class="navtext" style= "color: #f7f7f7;"><img class="photo" src="/public/src/logout.png"/> Logout</a></li>
      </ul>
    </div>

    <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navtext" href="/site/index">Project name</a>
    </div>

    <div class="container">
    {% block content %}{% endblock %}
      </div><!-- /.container -->
    {% block script_body_end %}
    {% for link in body_end_js %}
      <script src="{{ link }}"></script>
    {% endfor %}
    {% endblock %}	
    
    <img id="loadImg" src="/public/src/ajax-loader.gif"/>
  </body>
  
</html>
