<!DOCTYPE html>
<!--http://materializecss.com/color.html-->
<html lang="cs style="height: 100%">
  <head>
    <!-- Required meta tags -->
    {% autoescape false %}
    {% for meta in metatags%}
    {{ meta }}
    {% endfor %}
    {% endautoescape %}
    <!--<meta http-equiv="Cache-Control" content="no-cache"><meta http-equiv="Cache-Control" content="no-cache">-->
    <!-- Bootstrap CSS -->
    <style>
    /*описание стилей*/
    #loadImg{position:absolute; z-index:1000; display:none}
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="/public/materialize/css/materialize.min.css">
   <link href="/public/bootstrap/navmenu.css" rel="stylesheet">
    
    {% block script_head %}
        {% for link in head_js %}
            <script src="{{ link }}"></script>
        {% endfor %}
    {% endblock %}  
    <div class="container">
        <nav class="light-green darken-2 hide-on-large-only">
        <div class="nav-wrapper">
        <a id="mobile_menu_button" href="#" data-activates="slide-out" class="button-collapse  waves-effect waves-light light-green darken-2 top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo right">PF</a>
        </div>
        </nav>

    </div>
  </head>
  <body style="height: 100%;">
    {% block script_body_begin %}
    {% for link in body_begin_js %}
      <script src="{{ link }}"></script>
    {% endfor %}
    {% endblock %}

    <ul id="slide-out" class="side-nav fixed light-green darken-2 hoverable">
    
    <li></li>
    <li><a href="/site/index">Home<i class="material-icons">home</i></a></li>        
    <li><a href="#">Transactions<i class="material-icons">event_note</i></a></li> 
    <li><a href="/site/settings">Settings<i class="material-icons">settings</i></a></li> 
    <li><a href="/user/logout">Exit<i class="material-icons">exit_to_app</i></a></li> 
    </ul>

    <div class="container">
    {% block content %}{% endblock %}
    </div><!-- /.container -->
    {% block script_body_end %}
    {% for link in body_end_js %}
      <script src="{{ link }}"></script>
    {% endfor %}
    {% endblock %}	
    
    <img id="loadImg" src="/public/src/ajax-loader.gif"/>
    <script>
       $('.button-collapse').sideNav();
    </script>
  </body>
  
</html>
