{% for element in vars %}
    <tr class = "clickable" name="tr_1" id="tr_1">
          <td class="hide">{{ element.id }}</td>
          <td dblclick="AddNew();">{{ element.code }}</td>
          <td>{{ element.name }}</td>
          <td>{{ element.short_name }}</td>
      </tr>  
{% endfor %}