{% extends layout %}
  
{% block content %}
<div id="frame">

    <h2 class="header thin">Wallets</h2>

<form id ="form">
    <div class="form-group">
    <a href="/wallets/getelement" class="right btn-floating btn-large waves-effect waves-light red" id ="btn_wallet_new"><i class="material-icons">add</i></a>
    <button class="right btn-floating btn-large waves-effect waves-light yellow" id="btn_curr_update" onclick="getData(); return false;"><i class="material-icons">sync</i></button>
   
    </div>
    
    <table class="bordered">
      <tr class="spr_list_head">
          <th class="hide">id</th>
          <th>Name</th>
          <th>Currency</th>
          <th class="visible-md visible-lg">Is credit card</th>
      </tr>
      <tbody id="tbody">
      {% include 'tmpl_wallets_list_data.twig' %}    
      </tbody>  
  </table>

</form> 
</div>

{% endblock %}
