{% extends layout %}
  
{% block content %}

    
    <h3 class="header thin grey-text text-darken-4"><i class=" medium material-icons">settings</i> Settings</h3>
    
    <section>
      <h4 class="header thin grey-text text-darken-4"><span>References</span></h4>   
    </section>
   

<div class="row">
    <div class="col s12 m6 l6 xl6">
     <div class="card  horizontal hoverable">
        <div class="card-image">
            <i class="material-icons medium">queue</i>
        </div>
         <div class="card-stacked">
            <div class="card-action"> 
                <a href="/RefIncome/GetList">Income items</a>
            </div> 
        </div> 
     </div> 
    </div>
    
    <div class="col s12 m6 l6 xl6">
     <div class="card horizontal hoverable">
        <div class="card-image">
            <i class="material-icons medium">euro_symbol</i>
        </div>
         <div class="card-stacked">
            <div class="card-action"> 
                <a href="/Currency/GetList">Currencies</a>
            </div> 
        </div> 
     </div> 
    </div>
</div>

<div class="row">
    <div class="col s12 m6 l6 xl6">
     <div class="card horizontal hoverable">
        <div class="card-image">
            <i class="material-icons medium">local_grocery_store</i>
        </div>
         <div class="card-stacked">
            <div class="card-action"> 
                <a href="/RefExpenditure/GetList">Expenditure items</a>
            </div> 
        </div> 
     </div> 
    </div>
    
    <div class="col s12 m6 l6 xl6">
     <div class="card horizontal hoverable">
        <div class="card-image">
            <i class="material-icons medium">account_balance_wallet</i>
        </div>
         
        <div class="card-stacked">

            <div class="card-action">
                <a href="/Wallets/GetList">Wallets</a>
            </div>
        </div>
         
     </div> 
    </div>
</div>

    <section>
        <h4 class="header thin grey-text text-darken-4"><span>Tools</span></h4>   
    </section>

    <div class="col s12 m12 l12 xl2">
        <div class="card horizontal hoverable">
            <div class="card-image">
                <i class="material-icons medium">settings_applications</i>
            </div>

            <div class="card-stacked">

                <div class="card-action">
                    <a href="/tools/program_settings">Program settings</a>
                </div>
            </div>

        </div> 
    </div>
    
    <div class="col s12 m12 l12 xl2">
        <div class="card horizontal hoverable">
            <div class="card-image">
                <i class="material-icons medium">import_export</i>
            </div>

            <div class="card-stacked">

                <div class="card-action">
                    <a href="/tools/import1c">Import from 1C:Money</a>
                </div>
            </div>

        </div> 
    </div>
    
{% endblock %}
