
{% extends isNotAjax ? layout : "" %}   
{% block content %}

<div class="section">
    
    <h4><span class="card-title thin grey-text text-darken-4">Welcome to Personal finance system!</span></h4>
    <div class="section">
    <h5><span class="card-title thin grey-text text-darken-4">Please, fill registration form!</span></h5>
</div>
    
</div>



<div class="row">
<div class="col s12 m12 l12 xl12 ">
<div class="card login-wrapper">
<div class="card-content hoverable">
<form action='/user/signup' method='post'>
<input name="csrf_token" type="hidden" value="{{ csrf_token }}"> 
  <div class="input-field">
    <i class="material-icons prefix">account_circle</i>
    <label for="InputName">Your name</label>
    <input type="text" name="name" class="form-control" id="InputName" placeholder="Enter name" value = {{ name }}>
  </div>
    
   <div class="input-field">
    <i class="material-icons prefix">email</i>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="login" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value = {{ login }}>
  </div>
  <div class="input-field">
      <i class="material-icons prefix">https</i>
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="InputPassword1" placeholder="Password">
  </div>
    {% autoescape false %}
    {% if error %}
           
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    {% endautoescape %}
    <button type="submit" name="buttonregister" class="btn-floating btn-large waves-effect waves-light light-green darken-2"><i class="material-icons">send</i></button>
</form>
</div>
</div>
</div>
</div>
{% endblock %}
