<!DOCTYPE html>
<!--http://materializecss.com/color.html-->
<html lang="cs style="height: 100%">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mikhail Terentev CV</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/pf/public/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="/pf/public/css/font-awesome.min.css" />

  </head>
  <body>
    

    <div class="container">
    
    {% block content %}{% endblock %}
    
    </div>
    
    {% block script_body_end %}
    {% for link in body_end_js %}
      <script src="{{ link }}"></script>
    {% endfor %}
    {% endblock %}	

  </body>
  
</html>
